body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 900px;
  /* background image*/
  background-image: url("../images/lights.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  /*font parameters*/
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

.navbar {
  /*background*/
  background-color: transparent;
  color: whitesmoke;
  padding-left: 0;
  height: 70px;
  width: 100%;
  /* font parameters*/
  font-variant: small-caps;
  font-weight: bold;
  font-size: 20px;
  /* border styling*/
  border-bottom: solid;
  border-bottom-color: hotpink;
  border-width: 3px;
}

#main-content {
  /* separation from navbar */
  padding-top: 5mm;
  /*font parameters*/
  font-variant: small-caps;
  font-weight: bold;
  font-size: 20px;
  color: whitesmoke;
}

#start {
  /*font parameters*/
  color: whitesmoke;
}

.feedback {
  /*font parameters*/
  color: white;
  font-weight: bold;
}

#subScore {
  /*font parameters*/
  color: whitesmoke;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

#hsTitle {
  /*font parameters*/
  color: whitesmoke;
  font-variant: small-caps;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

#hsList {
  /*font parameters*/
  color: whitesmoke;
  font-size: 25px;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

.horizontal-rule {
  /* line separation */
  border-top: 6px solid blue;
}

.footer {
  background-color: hotpink;
  height: 8%;
  /* border styling */
  border-top: solid;
  border-top-color: whitesmoke;
  border-top-width: 8px;
}

.footer-text {
  width: 100%;
  text-align: center;
  /*font parameters*/
  font-family: Chalkduster, fantasy;
  color: black;
}

button {
  margin: 1em;
}
